{
  "semi": true,
  "singleQuote": true,
  "jsxSingleQuote": false,
  "trailingComma": "es5",
  "tabWidth": 2,
  "printWidth": 80,
  "arrowParens": "always",
  "tailwindConfig": "./tailwind.config.ts",
  "tailwindAttributes": ["wrapperClassName", "wrapClassName", "rootClassName"],
  "tailwindFunctions": ["classNames", "classnames", "twMerge"],
  "plugins": [
    "prettier-plugin-tailwindcss",
    "@trivago/prettier-plugin-sort-imports"
  ]
}
